In [4]:
import pandas as pd
import numpy as np
import env

## Exercises I

Run `python -m pip install pymysql` from your terminal to install pymysql.

Create a notebook or python script named `advanced_dataframes` to do your work in for these exercises.
1. Run `python -m pip install pymysql` from your terminal to install the mysql client (any folder is fine)
2. cd into your exercises folder for this module and run `echo env.py >> .gitignore`

3. Create a function named `get_db_url`. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [5]:
def get_db_url(db_name,user=env.user,password=env.password,host=env.host):
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

4. Use your function to obtain a connection to the `employees` database.

In [6]:
url = get_db_url('employees')

5. Once you have successfully run a query:
    
    a. Intentionally make a typo in the database url. What kind of error message do you see?
    
    b. Intentionally make an error in your SQL query. What does the error message look like?

In [13]:
pd.read_sql("""
    select *
    from employees
""",url)

        emp_no  birth_date first_name last_name gender   hire_date
0        10001  1953-09-02     Georgi   Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2        10003  1959-12-03      Parto   Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
...        ...         ...        ...       ...    ...         ...
300019  499995  1958-09-24     Dekang  Lichtner      F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz      M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart      M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda      M  1997-11-30

[300024 rows x 6 columns]

In [17]:
# Making a typo in the database name
url = get_db_url(env.user,env.host,env.password,'employes')

pd.read_sql("""
    select *
    from employees
""",url)

OperationalError: (pymysql.err.OperationalError) (1044, "Access denied for user 'ursula_2325'@'%%' to database 'employes'")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [18]:
# Making a typo in the sql query
url = get_db_url(env.user,env.host,env.password,'employees')

pd.read_sql("""
    select *
    from employes
""",url)

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'employees.employes' doesn't exist")
[SQL:
    select *
    from employes
]
(Background on this error at: https://sqlalche.me/e/20/f405)

6. Read the `employees` and `titles` tables into two separate DataFrames.

In [20]:
url = get_db_url(env.user,env.host,env.password,'employees')

employees = pd.read_sql("""
    select *
    from employees
""",url)

titles = pd.read_sql("""
    select *
    from titles
""",url)

7. How many rows and columns do you have in each DataFrame? Is that what you expected?

In [25]:
employees.shape

(300024, 6)

In [26]:
titles.shape

(443308, 4)

In [27]:
# Not a lot of columns, but many rows. That was expected.

8. Display the summary statistics for each DataFrame.

In [31]:
employees.info()
employees.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB

              emp_no
count  300024.000000
mean   253321.763392
std    161828.235540
min     10001.000000
25%     85006.750000
50%    249987.500000
75%    424993.250000
max    499999.000000

In [33]:
titles.info()
titles.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443308 entries, 0 to 443307
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     443308 non-null  int64
 1   title      443308 non-null  object
 2   from_date  443308 non-null  object
 3   to_date    443308 non-null  object
dtypes: int64(1), object(3)
memory usage: 13.5+ MB

              emp_no
count  443308.000000
mean   253075.034430
std    161853.292613
min     10001.000000
25%     84855.750000
50%    249847.500000
75%    424891.250000
max    499999.000000

9. How many unique titles are in the `titles` DataFrame?

In [58]:
titles.title.unique()

array(['Senior Engineer', 'Staff', 'Engineer', 'Senior Staff',
       'Assistant Engineer', 'Technique Leader', 'Manager'], dtype=object)

In [61]:
titles.title.unique().shape

(7,)

In [59]:
len(titles.title.unique())

7

10. What is the oldest date in the `to_date` column?

In [54]:
titles.to_date.sort_values().head(1)

16064    1985-03-01
Name: to_date, dtype: object

11. What is the most recent date in the `to_date` column?

In [71]:
titles.sort_values(['to_date','emp_no'],ascending=[False,True]).head(1)

   emp_no            title   from_date     to_date
0   10001  Senior Engineer  1986-06-26  9999-01-01